@charset "UTF-8";
/* image */
/* mixin */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
/* line 2, ../sass/import/_reset.sass */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  color: #b7b7b7;
  font-weight: 400;
  line-height: 24px;
}

/* line 11, ../sass/import/_reset.sass */
body, html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}

/* line 16, ../sass/import/_reset.sass */
a:active, a:focus {
  color: #b7b7b7;
  text-decoration: none;
}
/* line 20, ../sass/import/_reset.sass */
a:hover, a:active {
  color: #757575;
  text-decoration: none;
}

/* line 24, ../sass/import/_reset.sass */
a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

/* line 27, ../sass/import/_reset.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 31, ../sass/import/_reset.sass */
video {
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* line 37, ../sass/import/_reset.sass */
input, textarea, select {
  border: 1px solid #d6d5d5;
  font-size: 14px;
  padding: 8px 15px;
  width: 100%;
  margin: 0 0 20px 0;
  max-width: 100%;
  resize: none;
}

/* line 47, ../sass/import/_reset.sass */
input[type="submit"] {
  width: auto;
}

/* line 50, ../sass/import/_reset.sass */
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] {
  -webkit-appearance: none;
  outline: none;
}

/* line 54, ../sass/import/_reset.sass */
input:focus, textarea:focus {
  border-color: #757575;
  outline: none;
}

/* line 58, ../sass/import/_reset.sass */
input[type="button"]:focus {
  outline: none;
}

/* line 61, ../sass/import/_reset.sass */
select::-ms-expand {
  display: none;
}

/* line 64, ../sass/import/_reset.sass */
iframe {
  border: 0;
}

/* line 67, ../sass/import/_reset.sass */
p {
  margin: 0 0 25px;
}

/* line 70, ../sass/import/_reset.sass */
b, strong {
  font-weight: 600;
}

/* line 73, ../sass/import/_reset.sass */
.last-paragraph-no-margin p:last-of-type {
  margin-bottom: 0;
}

/* line 76, ../sass/import/_reset.sass */
.alt-font strong {
  font-weight: 700;
}

/* line 79, ../sass/import/_reset.sass */
ul, ol, dl {
  list-style-position: outside;
  margin-bottom: 25px;
}

/* line 83, ../sass/import/_reset.sass */
* {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
/* line 95, ../sass/import/_reset.sass */
*:hover {
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/* line 107, ../sass/import/_reset.sass */
::selection {
  color: #333;
  background: #d6d5d5;
}

/* line 111, ../sass/import/_reset.sass */
::-moz-selection {
  color: #333;
  background: #d6d5d5;
}

/* line 115, ../sass/import/_reset.sass */
::-webkit-input-placeholder {
  color: #232323;
  text-overflow: ellipsis;
}

/* line 119, ../sass/import/_reset.sass */
::-moz-placeholder {
  color: #232323;
  text-overflow: ellipsis;
  opacity: 1;
}

/* line 124, ../sass/import/_reset.sass */
::-ms-input-placeholder {
  color: #232323;
  text-overflow: ellipsis;
  opacity: 1;
}

/* font family */
/* line 1, ../sass/import/_typography.sass */
.alt-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* line 4, ../sass/import/_typography.sass */
.main-font {
  font-family: "Roboto", sans-serif;
}

/* line 8, ../sass/import/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 25px;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
}

/* line 14, ../sass/import/_typography.sass */
h1 {
  font-size: 70px;
  line-height: 70px;
}

/* line 18, ../sass/import/_typography.sass */
h2 {
  font-size: 55px;
  line-height: 60px;
}

/* line 22, ../sass/import/_typography.sass */
h3 {
  font-size: 48px;
  line-height: 54px;
}

/* line 26, ../sass/import/_typography.sass */
h4 {
  font-size: 40px;
  line-height: 46px;
}

/* line 30, ../sass/import/_typography.sass */
h5 {
  font-size: 32px;
  line-height: 40px;
}

/* line 34, ../sass/import/_typography.sass */
h6 {
  font-size: 25px;
  line-height: 30px;
}

/* line 40, ../sass/import/_typography.sass */
.text-extra-small {
  font-size: 11px;
  line-height: 14px;
}
/* line 43, ../sass/import/_typography.sass */
.text-small {
  font-size: 12px;
  line-height: 20px;
}
/* line 46, ../sass/import/_typography.sass */
.text-medium {
  font-size: 16px;
  line-height: 23px;
}
/* line 49, ../sass/import/_typography.sass */
.text-large {
  font-size: 18px;
  line-height: 26px;
}
/* line 52, ../sass/import/_typography.sass */
.text-extra-large {
  font-size: 20px;
  line-height: 26px;
}

/* line 57, ../sass/import/_typography.sass */
.title-large {
  font-size: 100px;
  line-height: 95px;
}
/* line 60, ../sass/import/_typography.sass */
.title-extra-large {
  font-size: 130px;
  line-height: 120px;
}

/* text color */
/* line 66, ../sass/import/_typography.sass */
.text-white {
  color: #FFF;
}
/* line 68, ../sass/import/_typography.sass */
.text-black {
  color: #333;
}
/* line 70, ../sass/import/_typography.sass */
.text-extra-dark-gray {
  color: #232323;
}
/* line 72, ../sass/import/_typography.sass */
.text-dark-gray {
  color: #626262;
}
/* line 74, ../sass/import/_typography.sass */
.text-extra-medium-gray {
  color: #757575;
}
/* line 76, ../sass/import/_typography.sass */
.text-medium-gray {
  color: #939393;
}
/* line 78, ../sass/import/_typography.sass */
.text-extra-light-gray {
  color: #b7b7b7;
}
/* line 80, ../sass/import/_typography.sass */
.text-light-gray {
  color: #d6d5d5;
}
/* line 82, ../sass/import/_typography.sass */
.text-very-light-gray {
  color: #ededed;
}
/* line 84, ../sass/import/_typography.sass */
.text-deep-pink {
  color: #ff214f;
}

/* dropcap */
/* line 88, ../sass/import/_typography.sass */
.first-letter {
  float: left;
  font-size: 50px;
  line-height: auto;
  margin: 0 20px 0 0;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}
/* line 97, ../sass/import/_typography.sass */
.first-letter-big {
  float: left;
  font-size: 110px;
  line-height: 110px;
  margin: 0 20px 0 0;
  padding: 0 8px;
  text-align: center;
  font-weight: 600;
  position: relative;
}
/* line 107, ../sass/import/_typography.sass */
.first-letter-big:before {
  position: absolute;
  border-bottom: 1px solid;
  content: "";
  display: block;
  width: 100%;
  top: 55%;
  left: 0;
}
/* line 116, ../sass/import/_typography.sass */
.first-letter-block {
  font-size: 30px;
  height: 55px;
  line-height: 22px;
  padding: 15px 0;
  width: 55px;
  font-weight: 500;
  margin-top: 5px;
}
/* line 125, ../sass/import/_typography.sass */
.first-letter-block-round {
  border-radius: 6px;
  border: 1px solid;
}
/* line 129, ../sass/import/_typography.sass */
.first-letter-round {
  border-radius: 50%;
  font-size: 35px;
  padding: 15px;
  width: 65px;
  height: 65px;
  line-height: 32px;
}

/* blockquote */
/* line 138, ../sass/import/_typography.sass */
blockquote {
  padding: 20px 30px;
}
/* line 141, ../sass/import/_typography.sass */
blockquote p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 17px !important;
  font-weight: 300;
}

/* line 147, ../sass/import/_typography.sass */
blockquote {
  border-left: 2px solid;
  padding: 15px 40px;
  margin: 45px 0;
}
/* line 152, ../sass/import/_typography.sass */
blockquote footer {
  color: #939393;
}

/* line 156, ../sass/import/_typography.sass */
.blog-image blockquote {
  padding: 60px;
  border: 0;
  margin: 0;
}
/* line 161, ../sass/import/_typography.sass */
.blog-image blockquote h6:before {
  content: "";
  font-family: "themify";
  font-size: 40px;
  top: 5px;
  position: relative;
  margin-right: 12px;
  color: #ff214f;
}

/* text link hover color */
/* line 173, ../sass/import/_typography.sass */
a.text-link-white, a.text-link-white i {
  color: #FFF;
}
/* line 176, ../sass/import/_typography.sass */
a.text-link-white:hover, a.text-link-white:hover i, a.text-link-white:focus, a.text-link-white:focus i {
  color: #ff214f;
}
/* line 182, ../sass/import/_typography.sass */
a.text-link-black, a.text-link-black i {
  color: #333;
}
/* line 185, ../sass/import/_typography.sass */
a.text-link-dark-gray {
  color: #626262;
}
/* line 188, ../sass/import/_typography.sass */
a.text-link-dark-gray:hover, a.text-link-dark-gray:focus {
  color: #232323;
}
/* line 191, ../sass/import/_typography.sass */
a.text-link-extra-dark-gray {
  color: #232323;
}
/* line 194, ../sass/import/_typography.sass */
a.text-link-extra-dark-gray:hover, a.text-link-extra-dark-gray:focus {
  color: #333;
}
/* line 197, ../sass/import/_typography.sass */
a.text-link-deep-pink, a.text-link-deep-pink i {
  color: #ff214f;
}
/* line 200, ../sass/import/_typography.sass */
a.text-link-deep-pink:hover, a.text-link-deep-pink:hover i, a.text-link-deep-pink:focus, a.text-link-deep-pink:focus i {
  color: #FFF;
}

/* hover color */
/* line 207, ../sass/import/_typography.sass */
a.text-white-hover:hover, a.text-white-hover:focus {
  color: #FFF;
}
/* line 211, ../sass/import/_typography.sass */
a.text-black-hover:hover, a.text-black-hover:focus {
  color: #333;
}
/* line 215, ../sass/import/_typography.sass */
a.text-deep-pink-hover:hover, a.text-deep-pink-hover:focus {
  color: #ff214f;
}
/* line 219, ../sass/import/_typography.sass */
a.text-extra-dark-gray-hover:hover {
  color: #232323;
}
/* line 223, ../sass/import/_typography.sass */
a.text-dark-gray-hover:hover {
  color: #626262;
}
/* line 227, ../sass/import/_typography.sass */
a.text-extra-medium-gray-hover:hover {
  color: #757575;
}
/* line 231, ../sass/import/_typography.sass */
a.text-medium-gray-hover:hover {
  color: #939393;
}
/* line 235, ../sass/import/_typography.sass */
a.text-extra-light-gray-hover:hover {
  color: #b7b7b7;
}
/* line 239, ../sass/import/_typography.sass */
a.text-light-gray-hover:hover {
  color: #d6d5d5;
}
/* line 243, ../sass/import/_typography.sass */
a.text-very-light-gray-hover:hover {
  color: #ededed;
}

/* letter spacing */
/* line 247, ../sass/import/_typography.sass */
.no-letter-spacing {
  letter-spacing: 0px;
}

/* line 251, ../sass/import/_typography.sass */
.letter-spacing-1 {
  letter-spacing: 1px;
}
/* line 253, ../sass/import/_typography.sass */
.letter-spacing-2 {
  letter-spacing: 2px;
}
/* line 255, ../sass/import/_typography.sass */
.letter-spacing-3 {
  letter-spacing: 3px;
}
/* line 257, ../sass/import/_typography.sass */
.letter-spacing-4 {
  letter-spacing: 4px;
}
/* line 259, ../sass/import/_typography.sass */
.letter-spacing-5 {
  letter-spacing: 5px;
}
/* line 261, ../sass/import/_typography.sass */
.letter-spacing-6 {
  letter-spacing: 6px;
}
/* line 263, ../sass/import/_typography.sass */
.letter-spacing-7 {
  letter-spacing: 7px;
}
/* line 265, ../sass/import/_typography.sass */
.letter-spacing-8 {
  letter-spacing: 8px;
}
/* line 267, ../sass/import/_typography.sass */
.letter-spacing-9 {
  letter-spacing: 9px;
}
/* line 269, ../sass/import/_typography.sass */
.letter-spacing-10 {
  letter-spacing: 10px;
}
/* line 272, ../sass/import/_typography.sass */
.letter-spacing-minus-1 {
  letter-spacing: -1px;
}
/* line 274, ../sass/import/_typography.sass */
.letter-spacing-minus-2 {
  letter-spacing: -2px;
}
/* line 276, ../sass/import/_typography.sass */
.letter-spacing-minus-3 {
  letter-spacing: -3px;
}
/* line 278, ../sass/import/_typography.sass */
.letter-spacing-minus-4 {
  letter-spacing: -4px;
}
/* line 280, ../sass/import/_typography.sass */
.letter-spacing-minus-5 {
  letter-spacing: -5px;
}
/* line 282, ../sass/import/_typography.sass */
.letter-spacing-minus-6 {
  letter-spacing: -6px;
}
/* line 284, ../sass/import/_typography.sass */
.letter-spacing-minus-7 {
  letter-spacing: -7px;
}
/* line 286, ../sass/import/_typography.sass */
.letter-spacing-minus-8 {
  letter-spacing: -8px;
}
/* line 288, ../sass/import/_typography.sass */
.letter-spacing-minus-9 {
  letter-spacing: -9px;
}
/* line 290, ../sass/import/_typography.sass */
.letter-spacing-minus-10 {
  letter-spacing: -10px;
}

/* font weight */
/* line 295, ../sass/import/_typography.sass */
.font-weight-100 {
  font-weight: 100;
}
/* line 298, ../sass/import/_typography.sass */
.font-weight-200 {
  font-weight: 200;
}
/* line 301, ../sass/import/_typography.sass */
.font-weight-300 {
  font-weight: 300;
}
/* line 304, ../sass/import/_typography.sass */
.font-weight-400 {
  font-weight: 400;
}
/* line 307, ../sass/import/_typography.sass */
.font-weight-500 {
  font-weight: 500;
}
/* line 310, ../sass/import/_typography.sass */
.font-weight-600 {
  font-weight: 600;
}
/* line 313, ../sass/import/_typography.sass */
.font-weight-700 {
  font-weight: 700;
}
/* line 316, ../sass/import/_typography.sass */
.font-weight-800 {
  font-weight: 800;
}
/* line 319, ../sass/import/_typography.sass */
.font-weight-900 {
  font-weight: 900;
}

/* text property */
/* line 324, ../sass/import/_typography.sass */
.text-transform-unset {
  text-transform: unset;
}
/* line 326, ../sass/import/_typography.sass */
.text-decoration-underline {
  text-decoration: underline;
}
/* line 328, ../sass/import/_typography.sass */
.text-decoration-line-through {
  text-decoration: line-through;
}

/* line 332, ../sass/import/_typography.sass */
.line-height-unset {
  line-height: unset;
}
/* line 334, ../sass/import/_typography.sass */
.line-height-normal {
  line-height: normal;
}
/* line 336, ../sass/import/_typography.sass */
.line-height-none {
  line-height: 0;
}

/* line 339, ../sass/import/_typography.sass */
.word-wrap {
  word-wrap: break-word;
}

/* line 343, ../sass/import/_typography.sass */
.text-nowrap {
  white-space: nowrap;
}
/* line 345, ../sass/import/_typography.sass */
.text-transform-none {
  text-transform: none;
}

/* line 348, ../sass/import/_typography.sass */
.title-line-through {
  padding: 0 15px;
}

/* line 352, ../sass/import/_typography.sass */
.text-middle-line {
  position: relative;
  white-space: nowrap;
}
/* line 356, ../sass/import/_typography.sass */
.text-outside-line {
  position: relative;
}
/* line 359, ../sass/import/_typography.sass */
.text-outside-line::before {
  border-top: 1px solid;
  content: "";
  height: 0;
  left: auto;
  position: absolute;
  right: -60px;
  top: 50%;
  width: 40px;
  opacity: 0.4;
}
/* line 370, ../sass/import/_typography.sass */
.text-outside-line::after {
  border-top: 1px solid;
  content: "";
  height: 0;
  left: auto;
  position: absolute;
  left: -60px;
  top: 50%;
  width: 40px;
  opacity: 0.4;
}
/* line 381, ../sass/import/_typography.sass */
.text-leftside-line {
  position: relative;
  padding-left: 35px;
}
/* line 385, ../sass/import/_typography.sass */
.text-leftside-line:before {
  border-top: 1px solid;
  content: "";
  height: 0;
  left: auto;
  position: absolute;
  left: 0;
  top: 45%;
  width: 25px;
  opacity: 0.7;
}
/* line 396, ../sass/import/_typography.sass */
.text-outside-line-full {
  position: relative;
  display: inline-block;
}
/* line 400, ../sass/import/_typography.sass */
.text-outside-line-full::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 99%;
  display: block;
  border-bottom: 1px solid;
  right: 100%;
  margin-right: 25px;
  opacity: 0.15;
}
/* line 412, ../sass/import/_typography.sass */
.text-outside-line-full::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 99%;
  display: block;
  border-bottom: 1px solid;
  left: 100%;
  margin-left: 25px;
  opacity: 0.15;
}
/* line 424, ../sass/import/_typography.sass */
.text-middle-line:before {
  border-bottom: 1px solid;
  position: absolute;
  content: "";
  width: 100%;
  top: 53%;
  opacity: 0.35;
}
/* line 432, ../sass/import/_typography.sass */
.text-bottom-line {
  width: 1px;
  border-top: 30px solid;
  margin-left: auto;
  margin-right: auto;
}
/* line 438, ../sass/import/_typography.sass */
.text-middle-line-deep-pink:before {
  border-bottom: 1px solid #ff214f;
  position: absolute;
  content: "";
  width: 100%;
  margin-top: 5px;
  margin-left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 449, ../sass/import/_typography.sass */
.text-decoration-line-through-black, .text-decoration-line-through-deep-pink {
  position: relative;
}
/* line 451, ../sass/import/_typography.sass */
.text-decoration-line-through-deep-pink:before {
  background: #ff214f;
}
/* line 453, ../sass/import/_typography.sass */
.text-decoration-line-through-black:before {
  background: #333;
}
/* line 456, ../sass/import/_typography.sass */
.text-decoration-line-through-black::before, .text-decoration-line-through-deep-pink:before {
  content: "";
  height: 1px;
  left: -10px;
  position: absolute;
  top: 53%;
  width: calc(100% + 20px);
  -webkit-transform: translateY(-53%);
  -moz-transform: translateY(-53%);
  -ms-transform: translateY(-53%);
  -o-transform: translateY(-53%);
  transform: translateY(-53%);
}

/* line height */
/* line 467, ../sass/import/_typography.sass */
.line-height-10 {
  line-height: 10px;
}
/* line 469, ../sass/import/_typography.sass */
.line-height-13 {
  line-height: 13px;
}
/* line 471, ../sass/import/_typography.sass */
.line-height-18 {
  line-height: 18px;
}
/* line 473, ../sass/import/_typography.sass */
.line-height-20 {
  line-height: 20px;
}
/* line 475, ../sass/import/_typography.sass */
.line-height-24 {
  line-height: 24px;
}
/* line 477, ../sass/import/_typography.sass */
.line-height-22 {
  line-height: 22px;
}
/* line 479, ../sass/import/_typography.sass */
.line-height-26 {
  line-height: 26px;
}
/* line 481, ../sass/import/_typography.sass */
.line-height-28 {
  line-height: 28px;
}
/* line 483, ../sass/import/_typography.sass */
.line-height-30 {
  line-height: 30px;
}
/* line 485, ../sass/import/_typography.sass */
.line-height-35 {
  line-height: 35px;
}
/* line 487, ../sass/import/_typography.sass */
.line-height-40 {
  line-height: 40px;
}
/* line 489, ../sass/import/_typography.sass */
.line-height-45 {
  line-height: 45px;
}
/* line 491, ../sass/import/_typography.sass */
.line-height-50 {
  line-height: 50px;
}
/* line 493, ../sass/import/_typography.sass */
.line-height-55 {
  line-height: 55px;
}
/* line 495, ../sass/import/_typography.sass */
.line-height-60 {
  line-height: 60px;
}
/* line 497, ../sass/import/_typography.sass */
.line-height-65 {
  line-height: 65px;
}
/* line 499, ../sass/import/_typography.sass */
.line-height-70 {
  line-height: 70px;
}
/* line 501, ../sass/import/_typography.sass */
.line-height-75 {
  line-height: 75px;
}
/* line 503, ../sass/import/_typography.sass */
.line-height-80 {
  line-height: 80px;
}
/* line 505, ../sass/import/_typography.sass */
.line-height-85 {
  line-height: 85px;
}
/* line 507, ../sass/import/_typography.sass */
.line-height-90 {
  line-height: 90px;
}
/* line 509, ../sass/import/_typography.sass */
.line-height-95 {
  line-height: 95px;
}
/* line 511, ../sass/import/_typography.sass */
.line-height-100 {
  line-height: 100px;
}
/* line 513, ../sass/import/_typography.sass */
.line-height-110 {
  line-height: 110px;
}
/* line 515, ../sass/import/_typography.sass */
.line-height-120 {
  line-height: 120px;
}

/* line 2, ../sass/import/_background.sass */
.bg-transparent {
  background-color: transparent;
}
/* line 4, ../sass/import/_background.sass */
.bg-white {
  background-color: #FFF;
}
/* line 6, ../sass/import/_background.sass */
.bg-black {
  background-color: #333;
}
/* line 8, ../sass/import/_background.sass */
.bg-extra-dark-gray {
  background-color: #232323;
}
/* line 10, ../sass/import/_background.sass */
.bg-dark-gray {
  background-color: #626262;
}
/* line 12, ../sass/import/_background.sass */
.bg-extra-medium-gray {
  background-color: #757575;
}
/* line 14, ../sass/import/_background.sass */
.bg-medium-gray {
  background-color: #939393;
}
/* line 16, ../sass/import/_background.sass */
.bg-extra-light-gray {
  background-color: #b7b7b7;
}
/* line 18, ../sass/import/_background.sass */
.bg-medium-light-gray {
  background-color: #ededed;
}
/* line 20, ../sass/import/_background.sass */
.bg-light-gray {
  background-color: #d6d5d5;
}
/* line 22, ../sass/import/_background.sass */
.bg-very-light-gray {
  background-color: #ededed;
}
/* line 24, ../sass/import/_background.sass */
.bg-deep-pink {
  background-color: #ff214f;
}
/* line 27, ../sass/import/_background.sass */
.bg-transparent-white {
  background-color: rgba(255, 255, 255, 0.3);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 37%, white 96%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(37%, rgba(255, 255, 255, 0)), color-stop(96%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 37%, white 96%, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 37%, white 96%, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 37%, white 96%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 37%, white 96%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}
/* line 37, ../sass/import/_background.sass */
.bg-transparent-black {
  background-color: transparent;
  background: -moz-linear-gradient(left, transparent 0%, transparent 37%, black 96%, black 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, transparent), color-stop(37%, transparent), color-stop(96%, black), color-stop(100%, black));
  background: -webkit-linear-gradient(left, transparent 0%, transparent 37%, black 96%, black 100%);
  background: -o-linear-gradient(left, transparent 0%, transparent 37%, black 96%, black 100%);
  background: -ms-linear-gradient(left, transparent 0%, transparent 37%, black 96%, black 100%);
  background: linear-gradient(to right, transparent 0%, transparent 37%, black 96%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
}
/* line 47, ../sass/import/_background.sass */
.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 50, ../sass/import/_background.sass */
.bg-black-opacity {
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 53, ../sass/import/_background.sass */
.bg-black-opacity-light {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 56, ../sass/import/_background.sass */
.bg-deep-pink-opacity {
  background-color: rgba(255, 33, 79, 0.85);
}
/* line 59, ../sass/import/_background.sass */
.bg-charcoal-gray {
  background-color: #0e0f10;
}

/* line 2, ../sass/import/_custom.sass */
.center-col {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 7, ../sass/import/_custom.sass */
section {
  padding: 130px 0;
  overflow: hidden;
}
/* line 11, ../sass/import/_custom.sass */
section.big-section {
  padding: 160px 0;
}
/* line 13, ../sass/import/_custom.sass */
section.extra-big-section {
  padding: 200px 0;
}
/* line 15, ../sass/import/_custom.sass */
section.half-section {
  padding: 80px 0;
}

/* line 18, ../sass/import/_custom.sass */
.overlap-section {
  margin-top: -14%;
  position: relative;
}

/* line 22, ../sass/import/_custom.sass */
.col-2-nth .col-md-6:nth-child(2n+1),
.col-2-nth .col-sm-6:nth-child(2n+1),
.col-3-nth .col-md-4:nth-child(3n+1),
.col-3-nth .col-sm-4:nth-child(3n+1),
.col-4-nth .col-md-3:nth-child(4n+1),
.col-4-nth .col-sm-3:nth-child(4n+1) {
  clear: left;
}

/* input */
/* line 32, ../sass/import/_custom.sass */
.input-border-bottom {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #757575;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 14px;
}
/* line 40, ../sass/import/_custom.sass */
.input-border-bottom:focus {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #939393;
}
/* line 45, ../sass/import/_custom.sass */
.input-border-bottom::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
}
/* line 49, ../sass/import/_custom.sass */
.input-border-bottom::-moz-placeholder {
  font-weight: 300;
  font-size: 14px;
}
/* line 53, ../sass/import/_custom.sass */
.input-border-bottom:-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
}

/* line 58, ../sass/import/_custom.sass */
.extra-big-input, .extra-big-textarea, .extra-big-select select {
  padding: 18px 25px;
  font-size: 14px;
  line-height: 24px;
  height: 62px;
}

/* line 64, ../sass/import/_custom.sass */
.medium-input, .medium-textarea, .medium-select select {
  padding: 12px 20px;
  font-size: 14px;
  line-height: normal;
  border-radius: 0;
}

/* line 71, ../sass/import/_custom.sass */
.small-input, .small-textarea {
  padding: 12px 15px;
  font-size: 11px;
  line-height: normal;
}
/* line 76, ../sass/import/_custom.sass */
.small-select select {
  padding: 15px 15px;
  line-height: normal;
}

/* line 80, ../sass/import/_custom.sass */
.medium-input-light, .medium-textarea-light, .medium-select-light select {
  padding: 12px 25px;
  font-size: 12px;
  line-height: normal;
}

/* line 85, ../sass/import/_custom.sass */
.extra-small-input, .extra-small-textarea, .extra-small-select select {
  padding: 9px 17px;
  font-size: 12px;
  line-height: normal;
}

/* line 90, ../sass/import/_custom.sass */
.select-style {
  width: 100%;
  overflow: hidden;
  background: url("../images/select-arrow.png") no-repeat 97% 50%;
  border: 1px solid #ededed;
  margin-bottom: 20px;
}
/* line 97, ../sass/import/_custom.sass */
.select-style select {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* line 108, ../sass/import/_custom.sass */
.select-style select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/* line 115, ../sass/import/_custom.sass */
.input-group input, .input-group textarea, .input-group select {
  margin: 0;
  border-radius: 4px 0 0 4px;
  border-color: #FFF;
  padding: 19px 25px;
}
/* line 121, ../sass/import/_custom.sass */
.input-group-btn .btn {
  border-radius: 0 4px 4px 0;
}
/* line 124, ../sass/import/_custom.sass */
.input-group-btn .btn.btn-large {
  line-height: 2px;
  height: 62px;
  padding: 15px 25px !important;
}
/* line 129, ../sass/import/_custom.sass */
.input-group-404 input {
  height: 62px;
}
/* line 132, ../sass/import/_custom.sass */
.input-group .required-error {
  border: 1px solid #ff214f !important;
}
/* line 135, ../sass/import/_custom.sass */
.input-group .required-error, .input-group .required-error + .input-group-btn button, .input-group .required-error + .input-group-btn a.btn {
  border: 1px solid #ff214f !important;
}
/* line 142, ../sass/import/_custom.sass */
.input-border-white .input-border-bottom:focus {
  background: transparent;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}
/* line 146, ../sass/import/_custom.sass */
.input-border-white .input-border-bottom::-webkit-input-placeholder {
  color: #FFF;
}
/* line 148, ../sass/import/_custom.sass */
.input-border-white .input-border-bottom::-moz-placeholder {
  color: #FFF;
}
/* line 150, ../sass/import/_custom.sass */
.input-border-white .input-border-bottom::-ms-input-placeholder {
  color: #FFF;
}

/* line 153, ../sass/import/_custom.sass */
.btn .caret {
  border-top: 4px solid;
}

/* line 157, ../sass/import/_custom.sass */
input .input-bg {
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 15px;
}
/* line 164, ../sass/import/_custom.sass */
input .input-bg:focus {
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 168, ../sass/import/_custom.sass */
textarea.input-bg:focus {
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 172, ../sass/import/_custom.sass */
textarea.input-bg {
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 15px;
  min-height: 130px;
}

/* line 181, ../sass/import/_custom.sass */
.input-bg::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
}
/* line 183, ../sass/import/_custom.sass */
.input-bg::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
}
/* line 185, ../sass/import/_custom.sass */
.input-bg:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
}

/* line 188, ../sass/import/_custom.sass */
.required-error {
  border: 1px solid #ee2323 !important;
}

/* line 191, ../sass/import/_custom.sass */
.input-border-bottom.required-error {
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  border-bottom-color: #ee2323 !important;
}

/* line 196, ../sass/import/_custom.sass */
#success {
  /* separator */
}
/* line 198, ../sass/import/_custom.sass */
#success-subscribe-newsletter {
  clear: both;
  margin: 0 15px 15px;
  text-align: center;
  border: 1px solid #1a940a;
  color: #1a940a;
  padding: 2px 0;
  display: none;
  font-size: 11px;
}
/* line 207, ../sass/import/_custom.sass */
#success-subscribe-newsletter2 {
  clear: both;
  margin: 0 15px 15px;
  text-align: center;
  border: 1px solid #1a940a;
  color: #1a940a;
  padding: 2px 0;
  display: none;
  font-size: 11px;
}
/* line 218, ../sass/import/_custom.sass */
#success-contact-form {
  clear: both;
  margin: 0 15px 15px;
  text-align: center;
  border: 1px solid #1a940a;
  color: #1a940a;
  padding: 2px 0;
  display: none;
  font-size: 11px;
}
/* line 228, ../sass/import/_custom.sass */
#success-contact-form-2 {
  clear: both;
  margin: 0 15px 15px;
  text-align: center;
  border: 1px solid #1a940a;
  color: #1a940a;
  padding: 2px 0;
  display: none;
  font-size: 11px;
}
/* line 238, ../sass/import/_custom.sass */
#success-contact-form-3 {
  clear: both;
  margin: 0 15px 15px;
  text-align: center;
  border: 1px solid #1a940a;
  color: #1a940a;
  padding: 2px 0;
  display: none;
  font-size: 11px;
}
/* line 249, ../sass/import/_custom.sass */
#success-project-contact-form {
  clear: both;
  margin: 0 15px 15px;
  text-align: center;
  border: 1px solid #1a940a;
  color: #1a940a;
  padding: 2px 0;
  display: none;
  font-size: 11px;
}
/* line 259, ../sass/import/_custom.sass */
#success-project-contact-form-4 {
  clear: both;
  margin: 0 15px 15px;
  text-align: center;
  border: 1px solid #1a940a;
  color: #1a940a;
  padding: 2px 0;
  display: none;
  font-size: 11px;
}

/* line 271, ../sass/import/_custom.sass */
.separator-line-verticle-extra-small {
  width: 1px;
  height: 8px;
}
/* line 274, ../sass/import/_custom.sass */
.separator-line-verticle-small-thick {
  width: 17px;
  height: 3px;
}
/* line 277, ../sass/import/_custom.sass */
.separator-line-verticle-small {
  width: 1px;
  height: 13px;
}
/* line 280, ../sass/import/_custom.sass */
.separator-line-verticle-small-thick2 {
  width: 64px;
  height: 7px;
}
/* line 283, ../sass/import/_custom.sass */
.separator-line-verticle-large {
  width: 1px;
  height: 20px;
}
/* line 286, ../sass/import/_custom.sass */
.separator-line-verticle-extra-large {
  width: 1px;
  height: 30px;
}
/* line 289, ../sass/import/_custom.sass */
.separator-line-verticle-medium-thick-full {
  width: 8px;
  height: 40px;
}
/* line 292, ../sass/import/_custom.sass */
.separator-line-verticle-large-thick {
  width: 109px;
  height: 11px;
}
/* line 295, ../sass/import/_custom.sass */
.separator-line-horrizontal-medium-light {
  width: 36px;
  height: 3px;
}
/* line 298, ../sass/import/_custom.sass */
.separator-line-horrizontal-medium-light2 {
  width: 40%;
  height: 1px;
}
/* line 301, ../sass/import/_custom.sass */
.separator-line-horrizontal-medium-light3 {
  width: 18%;
  height: 1px;
}
/* line 304, ../sass/import/_custom.sass */
.separator-line-horrizontal-medium-thick {
  width: 50px;
  height: 5px;
}
/* line 307, ../sass/import/_custom.sass */
.separator-line-horrizontal-full {
  width: 100%;
  height: 1px;
}

/* divider */
/* line 312, ../sass/import/_custom.sass */
.divider-full {
  width: 100%;
  height: 1px;
  display: inline-block;
}

/* opacity */
/* line 318, ../sass/import/_custom.sass */
.opacity-very-light {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}
/* line 321, ../sass/import/_custom.sass */
.opacity-extra-light {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
/* line 324, ../sass/import/_custom.sass */
.opacity-extra-medium {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
/* line 327, ../sass/import/_custom.sass */
.opacity-medium {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.75;
}
/* line 330, ../sass/import/_custom.sass */
.opacity-full {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
/* line 333, ../sass/import/_custom.sass */
.opacity-full-dark {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}
/* line 337, ../sass/import/_custom.sass */
.opacity1 {
  opacity: 0.1;
}
/* line 339, ../sass/import/_custom.sass */
.opacity2 {
  opacity: 0.2;
}
/* line 341, ../sass/import/_custom.sass */
.opacity3 {
  opacity: 0.3;
}
/* line 343, ../sass/import/_custom.sass */
.opacity4 {
  opacity: 0.4;
}
/* line 345, ../sass/import/_custom.sass */
.opacity5 {
  opacity: 0.5;
}
/* line 347, ../sass/import/_custom.sass */
.opacity6 {
  opacity: 0.6;
}
/* line 349, ../sass/import/_custom.sass */
.opacity7 {
  opacity: 0.7;
}
/* line 351, ../sass/import/_custom.sass */
.opacity8 {
  opacity: 0.8;
}
/* line 353, ../sass/import/_custom.sass */
.opacity9 {
  opacity: 0.9;
}

/* box-shadow */
/* line 358, ../sass/import/_custom.sass */
.btn-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 363, ../sass/import/_custom.sass */
.box-shadow-light {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
/* line 365, ../sass/import/_custom.sass */
.box-shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
/* line 367, ../sass/import/_custom.sass */
.box-shadow-dark {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
/* line 369, ../sass/import/_custom.sass */
.box-shadow-large {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* z-index */
/* line 374, ../sass/import/_custom.sass */
.z-index-1111 {
  z-index: 1111;
}
/* line 376, ../sass/import/_custom.sass */
.z-index-111 {
  z-index: 111;
}
/* line 378, ../sass/import/_custom.sass */
.z-index-1 {
  z-index: 1;
}
/* line 380, ../sass/import/_custom.sass */
.z-index-2 {
  z-index: 2;
}
/* line 382, ../sass/import/_custom.sass */
.z-index-3 {
  z-index: 3;
}
/* line 384, ../sass/import/_custom.sass */
.z-index-4 {
  z-index: 4;
}
/* line 386, ../sass/import/_custom.sass */
.z-index-5 {
  z-index: 5;
}
/* line 388, ../sass/import/_custom.sass */
.z-index-0 {
  z-index: 0;
}
/* line 390, ../sass/import/_custom.sass */
.z-index-minus2 {
  z-index: -2;
}

/* verticle align */
/* line 396, ../sass/import/_custom.sass */
.vertical.align-middle {
  vertical-align: middle;
}
/* line 398, ../sass/import/_custom.sass */
.vertical.align-top {
  vertical-align: top;
}
/* line 400, ../sass/import/_custom.sass */
.vertical.align-bottom {
  vertical-align: bottom;
}
/* line 402, ../sass/import/_custom.sass */
.vertical-middle {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

/* line 409, ../sass/import/_custom.sass */
.clear-both {
  clear: both;
}

/* line 412, ../sass/import/_custom.sass */
.line-break {
  display: block;
}

/* line 415, ../sass/import/_custom.sass */
.no-transition *, .swiper-container *, .mfp-container *, .skillbar-bar-main *, .portfolio-grid *, .parallax, .rev-slider *, .header-searchbar *, .header-social-icon * {
  transition-duration: none;
  -moz-transition-duration: none;
  -webkit-transition-duration: none;
  -o-transition-duration: none;
  -ms-transition-duration: none;
  transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
}

/* line 420, ../sass/import/_custom.sass */
.absolute-middle-center {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 426, ../sass/import/_custom.sass */
.absolute-bottom-center {
  left: 50%;
  top: 80%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-80%);
  -moz-transform: translateX(-50%) translateY(-80%);
  -ms-transform: translateX(-50%) translateY(-80%);
  -o-transform: translateX(-50%) translateY(-80%);
  transform: translateX(-50%) translateY(-80%);
}

/* line 1, ../sass/import/_button.sass */
.btn {
  display: inline-block;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  line-height: inherit;
  border-radius: 0;
  text-transform: uppercase;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
/* line 15, ../sass/import/_button.sass */
.btn.btn-very-small {
  font-size: 9px;
  padding: 1px 17px;
  line-height: 22px;
}
/* line 19, ../sass/import/_button.sass */
.btn.btn-small {
  font-size: 11px;
  padding: 4px 24px;
}
/* line 22, ../sass/import/_button.sass */
.btn.btn-medium {
  font-size: 12px;
  padding: 6px 25px 5px;
}
/* line 25, ../sass/import/_button.sass */
.btn.btn-large {
  font-size: 13px;
  padding: 9px 34px;
  line-height: 25px;
}
/* line 29, ../sass/import/_button.sass */
.btn.btn-extra-large {
  font-size: 15px;
  padding: 12px 40px 13px;
  line-height: 25px;
}
/* line 34, ../sass/import/_button.sass */
.btn-dual .btn {
  margin: 0 10px;
}
/* line 37, ../sass/import/_button.sass */
.btn i {
  margin-left: 6px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

/* button background */
/* line 46, ../sass/import/_button.sass */
.btn.btn-white {
  background: #FFF;
  border-color: #FFF;
  color: #232323;
}
/* line 51, ../sass/import/_button.sass */
.btn.btn-white:hover, .btn.btn-white:focus {
  background: transparent;
  color: #FFF;
}
/* line 55, ../sass/import/_button.sass */
.btn.btn-black {
  background: #333;
  border-color: #333;
  color: #FFF;
}
/* line 60, ../sass/import/_button.sass */
.btn.btn-black:hover, .btn.btn-black:focus {
  background: transparent;
  color: #333;
}
/* line 64, ../sass/import/_button.sass */
.btn.btn-dark-gray {
  background: #232323;
  border-color: #232323;
  color: #FFF;
}
/* line 69, ../sass/import/_button.sass */
.btn.btn-dark-gray:hover, .btn.btn-dark-gray:focus {
  background: transparent;
  color: #333;
}
/* line 73, ../sass/import/_button.sass */
.btn.btn-ligh-gray {
  background: #d6d5d5;
  border-color: #d6d5d5;
  color: #333;
}
/* line 78, ../sass/import/_button.sass */
.btn.btn-ligh-gray:hover, .btn.btn-ligh-gray:focus {
  background: transparent;
  border-color: #d6d5d5;
  color: #d6d5d5;
}
/* line 83, ../sass/import/_button.sass */
.btn.btn-deep-pink {
  background: #ff214f;
  border-color: #ff214f;
  color: #333;
}
/* line 88, ../sass/import/_button.sass */
.btn.btn-deep-pink:hover, .btn.btn-deep-pink:focus {
  background: transparent;
  border-color: #ff214f;
  color: #ff214f;
}

/* button transparent */
/* line 97, ../sass/import/_button.sass */
.btn.btn-transparent-white {
  background: transparent;
  border-color: #FFF;
  color: #FFF;
}
/* line 102, ../sass/import/_button.sass */
.btn.btn-transparent-white:hover, .btn.btn-transparent-white:focus {
  background: #FFF;
  border-color: #FFF;
  color: #232323;
}
/* line 107, ../sass/import/_button.sass */
.btn.btn-transparent-black {
  background: transparent;
  border-color: #333;
  color: #333;
}
/* line 112, ../sass/import/_button.sass */
.btn.btn-transparent-black:hover, .btn.btn-transparent-black:focus {
  background: #333;
  border-color: #333;
  color: #FFF;
}
/* line 117, ../sass/import/_button.sass */
.btn.btn-transparent-dark-gray {
  background: transparent;
  border-color: #232323;
  color: #232323;
}
/* line 122, ../sass/import/_button.sass */
.btn.btn-transparent-dark-gray:hover, .btn.btn-transparent-dark-gray:focus {
  background: #232323;
  border-color: #232323;
  color: #FFF;
}
/* line 127, ../sass/import/_button.sass */
.btn.btn-transparent-light-gray {
  background: transparent;
  border-color: whitesmoke;
  color: whitesmoke;
}
/* line 132, ../sass/import/_button.sass */
.btn.btn-transparent-light-gray:hover, .btn.btn-transparent-light-gray:focus {
  background: whitesmoke;
  border-color: whitesmoke;
  color: #232323;
}
/* line 137, ../sass/import/_button.sass */
.btn.btn-transparent-deep-pink {
  background: transparent;
  border-color: #ff214f;
  color: #ff214f;
}
/* line 142, ../sass/import/_button.sass */
.btn.btn-transparent-deep-pink:hover, .btn.btn-transparent-deep-pink:focus {
  background: #ff214f;
  border-color: #ff214f;
  color: #fff;
}

/* button rounded */
/* line 150, ../sass/import/_button.sass */
.btn.btn-rounded {
  border-radius: 50px;
}
/* line 152, ../sass/import/_button.sass */
.btn.btn-rounded.btn-very-small {
  padding: 2px 23px 1px;
}
/* line 154, ../sass/import/_button.sass */
.btn.btn-rounded.btn-small {
  padding: 5px 29px;
}
/* line 156, ../sass/import/_button.sass */
.btn.btn-rounded.btn-medium {
  padding: 6px 32px;
}
/* line 158, ../sass/import/_button.sass */
.btn.btn-rounded.btn-large {
  padding: 9px 38px;
}
/* line 160, ../sass/import/_button.sass */
.btn.btn-rounded.btn-extra-large {
  padding: 12px 45px 13px;
}

/* image button */
/* line 167, ../sass/import/_button.sass */
.image-button {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 26px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
/* line 174, ../sass/import/_button.sass */
.image-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* line 178, ../sass/import/_button.sass */
.tag-cloud a {
  font-size: 10px;
  padding: 3px 8px;
  border: 1px solid whitesmoke;
  margin: 0 8px 8px 0;
  display: inline-block;
  text-transform: uppercase;
  color: #232323;
  line-height: 18px;
}
/* line 188, ../sass/import/_button.sass */
.tag-cloud a:hover {
  background: #232323;
  color: #FFF !important;
  border: 1px solid #232323;
}

/* dropdown style 1 */
/* line 196, ../sass/import/_button.sass */
.dropdown-style-1 .btn {
  color: #fff;
  font-size: 11px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  font-weight: normal;
}
/* line 205, ../sass/import/_button.sass */
.dropdown-style-1 .btn:hover, .dropdown-style-1 .btn:focus {
  color: #ff214f;
}
/* line 208, ../sass/import/_button.sass */
.dropdown-style-1 .dropdown-menu {
  margin-top: 2px;
  min-width: 130px;
  border-radius: 0;
  border: none;
  z-index: 444;
  right: 0;
  left: auto;
}
/* line 217, ../sass/import/_button.sass */
.dropdown-style-1 .dropdown-menu > li > a {
  padding: 6px 15px;
  font-size: 12px;
}
/* line 221, ../sass/import/_button.sass */
.dropdown-style-1 .dropdown-menu > li > a:hover, .dropdown-style-1 .dropdown-menu > li > a:focus {
  background: whitesmoke;
}

/* line 3, ../sass/import/_border.sass */
.border-all {
  border: 1px solid #ededed;
}

/* boder width */
/* line 8, ../sass/import/_border.sass */
.border-width-1 {
  border-width: 1px;
}
/* line 10, ../sass/import/_border.sass */
.border-width-2 {
  border-width: 2px;
}
/* line 12, ../sass/import/_border.sass */
.border-width-3 {
  border-width: 3px;
}
/* line 14, ../sass/import/_border.sass */
.border-width-4 {
  border-width: 4px;
}
/* line 16, ../sass/import/_border.sass */
.border-width-5 {
  border-width: 5px;
}
/* line 18, ../sass/import/_border.sass */
.border-width-6 {
  border-width: 6px;
}
/* line 20, ../sass/import/_border.sass */
.border-width-7 {
  border-width: 7px;
}
/* line 22, ../sass/import/_border.sass */
.border-width-8 {
  border-width: 8px;
}
/* line 24, ../sass/import/_border.sass */
.border-width-9 {
  border-width: 9px;
}
/* line 26, ../sass/import/_border.sass */
.border-width-10 {
  border-width: 10px;
}
/* line 28, ../sass/import/_border.sass */
.border-width-20 {
  border-width: 20px;
}

/* boder align */
/* line 33, ../sass/import/_border.sass */
.border-top {
  border-top: 1px solid;
}
/* line 35, ../sass/import/_border.sass */
.border-bottom {
  border-bottom: 1px solid;
}
/* line 37, ../sass/import/_border.sass */
.border-left {
  border-left: 1px solid;
}
/* line 39, ../sass/import/_border.sass */
.border-right {
  border-right: 1px solid;
}
/* line 41, ../sass/import/_border.sass */
.border-lr {
  border-left: 1px solid;
  border-right: 1px solid;
}
/* line 44, ../sass/import/_border.sass */
.border-tb {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* border color */
/* line 52, ../sass/import/_border.sass */
.border-color-white {
  border-color: #FFF;
}
/* line 54, ../sass/import/_border.sass */
.border-color-black {
  border-color: #333;
}
/* line 56, ../sass/import/_border.sass */
.border-color-extra-dark-gray {
  border-color: #232323;
}
/* line 58, ../sass/import/_border.sass */
.border-color-medium-dark-gray {
  border-color: #363636;
}
/* line 60, ../sass/import/_border.sass */
.border-color-dark-gray {
  border-color: #626262;
}
/* line 62, ../sass/import/_border.sass */
.border-color-extra-medium-gray {
  border-color: #757575;
}
/* line 64, ../sass/import/_border.sass */
.border-color-medium-gray {
  border-color: #939393;
}
/* line 66, ../sass/import/_border.sass */
.border-color-extra-light-gray {
  border-color: #b7b7b7;
}
/* line 68, ../sass/import/_border.sass */
.border-color-light-gray {
  border-color: #d6d5d5;
}
/* line 70, ../sass/import/_border.sass */
.border-color-light-pink {
  border-color: #862237;
}
/* line 72, ../sass/import/_border.sass */
.border-color-deep-pink {
  border-color: #ff214f;
}
/* line 74, ../sass/import/_border.sass */
.border-color-transparent-pink {
  border-color: rgba(255, 33, 79, 0.45);
}

/* boder style */
/* line 81, ../sass/import/_border.sass */
.border-dotted {
  border-style: dotted !important;
}
/* line 83, ../sass/import/_border.sass */
.border-dashed {
  border-style: dashed !important;
}
/* line 85, ../sass/import/_border.sass */
.border-solid {
  border-style: solid !important;
}
/* line 87, ../sass/import/_border.sass */
.border-double {
  border-style: double !important;
}
/* line 89, ../sass/import/_border.sass */
.border-groove {
  border-style: groove !important;
}
/* line 91, ../sass/import/_border.sass */
.border-ridge {
  border-style: ridge !important;
}
/* line 93, ../sass/import/_border.sass */
.border-inset {
  border-style: inset !important;
}
/* line 95, ../sass/import/_border.sass */
.border-outset {
  border-style: outset !important;
}
/* line 97, ../sass/import/_border.sass */
.border-none {
  border-style: none !important;
}
/* line 99, ../sass/import/_border.sass */
.border-hidden {
  border-style: hidden !important;
}
/* line 101, ../sass/import/_border.sass */
.border-transperent {
  border-color: transparent !important;
}

/* line 104, ../sass/import/_border.sass */
.no-border-top {
  border-top: 0 !important;
}

/* line 107, ../sass/import/_border.sass */
.no-border-bottom {
  border-bottom: 0 !important;
}

/* line 110, ../sass/import/_border.sass */
.no-border-right {
  border-right: 0 !important;
}

/* line 113, ../sass/import/_border.sass */
.no-border-left {
  border-left: 0 !important;
}

/* border for overline icon box */
/* line 118, ../sass/import/_border.sass */
.overline-icon-box {
  border-top-width: 4px;
}

/* border color for overline icon box */
/* line 125, ../sass/import/_border.sass */
.overline-icon-box.overline-white {
  border-top-color: #FFF;
}
/* line 128, ../sass/import/_border.sass */
.overline-icon-box.overline-black {
  border-top-color: #333;
}
/* line 131, ../sass/import/_border.sass */
.overline-icon-box.overline-extra-dark-gray {
  border-top-color: #232323;
}
/* line 134, ../sass/import/_border.sass */
.overline-icon-box.overline-medium-dark-gray {
  border-top-color: #363636;
}
/* line 137, ../sass/import/_border.sass */
.overline-icon-box.overline-dark-gray {
  border-top-color: #626262;
}
/* line 140, ../sass/import/_border.sass */
.overline-icon-box.overline-extra-light-gray {
  border-top-color: #b7b7b7;
}
/* line 143, ../sass/import/_border.sass */
.overline-icon-box.overline-medium-gray {
  border-top-color: #757575;
}
/* line 146, ../sass/import/_border.sass */
.overline-icon-box.overline-light-gray {
  border-top-color: #d6d5d5;
}
/* line 149, ../sass/import/_border.sass */
.overline-icon-box.overline-light-pink {
  border-top-color: #862237;
}
/* line 152, ../sass/import/_border.sass */
.overline-icon-box.overline-deep-pink {
  border-top-color: #ff214f;
}
/* line 155, ../sass/import/_border.sass */
.overline-icon-box.overline-transparent-pink {
  border-top-color: rgba(255, 33, 79, 0.45);
}

/* transparent border */
/* line 162, ../sass/import/_border.sass */
.border-black-light {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
/* line 165, ../sass/import/_border.sass */
.border-white-light {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

/* border radius */
/* line 172, ../sass/import/_border.sass */
.border-radius-1 {
  border-radius: 1px;
}
/* line 174, ../sass/import/_border.sass */
.border-radius-2 {
  border-radius: 2px;
}
/* line 176, ../sass/import/_border.sass */
.border-radius-3 {
  border-radius: 3px;
}
/* line 178, ../sass/import/_border.sass */
.border-radius-4 {
  border-radius: 4px;
}
/* line 180, ../sass/import/_border.sass */
.border-radius-5 {
  border-radius: 5px;
}
/* line 182, ../sass/import/_border.sass */
.border-radius-6 {
  border-radius: 6px;
}
/* line 184, ../sass/import/_border.sass */
.border-radius-7 {
  border-radius: 7px;
}
/* line 186, ../sass/import/_border.sass */
.border-radius-8 {
  border-radius: 8px;
}
/* line 188, ../sass/import/_border.sass */
.border-radius-9 {
  border-radius: 9px;
}
/* line 190, ../sass/import/_border.sass */
.border-radius-10 {
  border-radius: 10px;
}
/* line 192, ../sass/import/_border.sass */
.border-radius-50 {
  border-radius: 50%;
}
/* line 194, ../sass/import/_border.sass */
.border-radius-100 {
  border-radius: 100%;
}
/* line 196, ../sass/import/_border.sass */
.border-radius-none {
  border-radius: 0;
}

/* line 4, ../sass/import/_aside.sass */
.aside-title {
  position: relative;
  overflow: hidden;
}
/* line 8, ../sass/import/_aside.sass */
.aside-title span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
/* line 13, ../sass/import/_aside.sass */
.aside-title:after {
  content: "";
  display: inline-block;
  width: 100%;
  background: #ff214f;
  height: 1px;
  top: 50%;
  position: absolute;
}

/* line 23, ../sass/import/_aside.sass */
.right-sidebar {
  padding-right: 45px;
}

/* line 27, ../sass/import/_aside.sass */
.left-sidebar {
  padding-left: 45px;
}
